* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

body, html{
	font-family: "poppins";
	overflow-x: hidden;
	margin: 0;
}



/**navbar**/

.navbar{
	display: flex; 
	justify-content: space-between; 
	align-items: center; 
	padding: 20px 20px;
	width: 100%;
	background-color: #fafafc;
	position: fixed;
	z-index: 2;
}

.logo{

 display: flex;
 align-items: center;
 gap: 10px;
}

.logo-image {
	height: 40px;
	margin-right: 3px;
}

.logo-heading{
	font-size: 20px;
	margin: 0;
}

.menu-toggle {
      font-size: 24px;
      background: none;
      border: none;
      cursor: pointer;
      display: none;
}


.dropdown-menu{
	display: flex;
	gap: 20px;
}

 
.dropdown-menu ul {
      list-style: none;
      font-weight: bold;
      padding: 0;
      margin: 0;
      display: flex;
      gap: 15px;
    }


.mail-links .mail-a{
	text-decoration: none; 
	 color: black; 
	 font-weight: bold;
}

.dropdown-menu .mail-a:hover{
	color: #ea1a65;
}

.mail-links .login-button{
	text-decoration: none;
	font-weight: bold;
	padding: 10px 50px;
	background color: whitesmoke;
	color: black;
	border-radius: 30px;
	border: 1px solid grey;
}

.mail-links .reg-btn{
	text-decoration: none;
	font-weight: bold;
	background color: whitesmoke;
	padding: 10px 50px;
	color: black;
	border-radius: 30px;
	border: 1px solid grey;
}

.mail-links .login-button:hover{
	background-color: #EA1A65;
	color: white;
	
}

.mail-links .reg-btn:hover{
	background-color: #ea1a65;
	color: white;

}



/** privacy policy**/

.header-d{
	width: 100vw;
	height: 90vh;
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #6f4480;
}


.header-h{
	margin-top: 50px;
	color: whitesmoke;
	font-weight: bold;
	font-size: 10vmin;

}

.header-w{
	margin-top: 50px;
	color: black;
	font-weight: bold;
	font-size: 10vmin;
}

.hello-h{
	margin-top: 20px;
	font-size: 3vmin;

}

.list-p{
	font-size: 2vmin;
	line-height: 2;
	width: 100%;
	padding: 0px 25px;
	margin-top: 12px;
	font-weight: lighter;

}

.priv-h{
	font-size: 2.6vmin;
	letter-spacing: 0.5px;

}

.privacy{
	padding:40px 60px;

}

.hello{
	padding: 0px 60px;
}

.hello-p{
	font-size: 2.2vmin;
	line-height: 2;
	width: 100%;
	font-weight: lighter;

}

.privacy-p{
	padding: 0px 25px;
	dont-size: 2vmin;
}


/** return policy**/

.return-policy{
	width: 100vw;
	height: 90vh;
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #0b56a1;
}

.returning{
	padding: 40px 60px;
}

/** terms & conditions**/

.terms-policy{
	width: 100vw;
	height: 90vh;
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #1aa868;
}

.terms{
	padding: 40px 60px;

}

.terms .terms-p{
	margin-left: 20px;
}

@media only screen and (max-width:768px){

	@media only screen and (max-width:768px){

	.navbar{
	padding: 10px 20px;
	background-color: white;
	align-items: center;
	display: flex;
	justify-content: space-between;
	width: 100%;


}	

.menu-toggle {
    display: block;
    font-size: 28px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1100;

}
  
.dropdown-menu {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;  
    z-index: 1000;
    justify-content: center;

    
}


.dropdown-menu.show {
        display: flex;
       
}



ul{
  	list-style: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}  



.dropdown-menu li {
    margin: 15px 0;
    align-items: center;

}

}
