* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

ul{
	list-style: none;
}

body, html{
	font-family: poppins, inter, "Times New Roman";
	overflow-x: hidden;
}


a{
	text-decoration: none;
	color: black;
}

a:hover{
	color: #EA1A65;
}


.ctn:hover{
	color: #EA1A65;
	background-color: whitesmoke;
}

img{
	transition: transform .3s ease;
}

img:hover{
	transform: scale(1.1);
}

.nav-links a:not(.login-button):hover {
	color: #ea1a65;
	background-color: whitesmoke;
	box-shadow: 2px 2px 5px #00000056;
}


/** navbar**/

.navbar{
	display: flex; 
	justify-content: space-between; 
	align-items: center; 
	padding: 10px 20px;
	width: 100%;
	background-color: #fafafc;
	position: fixed;
}



.logo{

display: flex;
align-items: center;
}

.logo-image {
	height: 40px;
	margin-right: 3px;
}

.nav-links{
	display: flex;
	align-items: center;
	

}

.nav-links li{
	margin: 0 10px;
}

.nav-links a{
	text-decoration: none; 
	padding: 15px 60px; 
	background-color: #EA1A65; 
	color: white; 
	border-radius: 40px
}


.nav-links .login-button{
	text-decoration: none;
	padding: 15px 60px;
	background-color: white;
	color: black;
	border: 1px solid #cdcdcd;
	border-radius: 40px;

}



/** header section **/

header {
	width: 100vw;
	height: 70vh;
	background-image: url("../images/pexels-pnw-prod-7328064 1.png");
	background-position: bottom;
	background-size: cover;
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
}

.header-content{
	margin-left: 40px;
	margin-bottom: 150px;
	color: whitesmoke;
	text-align: left;
}

.header-content h2{
	font-size: 3vmin;
	margin-bottom: 5px;
}


.line{
	width: 50px;
	height: 4px;
	background: #fc036b;
	margin: 10px left;
	border-radius: 5px;
}

.header-content h1{
	font-size: 5vmin;
	margin-top: 20px;
	margin-bottom: 20px;

}

.header-content p{
	font-size: 2vmin;
	font-weight: bold;
}


/**section 2**/

.our-mission {
	width: 100vw;
	padding: 60px 40px;

}

.row-1{
	display:flex;
	align-items: center;
	width: 100%;
	justify-content: space-between;
	

}

.col-1{

	width: 100%;
	
}

.col-1-1 img{
	width: 100%;
	padding-right: 50px ;
}

.our-mission .row-1{
	margin-top: 50px;

}

.col-1 h6{
	font-size: 3vmin;
	color: #484872;
	margin-bottom: 10px;

}

.col-1 h2{
	font-size: 3vmin;
	margin-bottom: 10px;
}

.col-1 .line-2{

	width: 100px;
	height: 4px;
	background: #fc036b;
	border-radius: 5px;
	margin-bottom: 5px;
	margin-top: -5px;
}


.col-1 h4{
	font-size: 3vmin;
	color: black;
	margin-bottom: 10px;
	
}

.col-1 p{
	
	color: black;
	font-size: 2.5vmin;
	margin-bottom: 30px;

 }

.col-1 button{
	
	
	padding: 15px 60px; 
	background-color: #EA1A65; 
	color: white; 
	border-radius: 40px;
	border: 0.5px solid grey;
	

}


.row-2{
	display:flex;
	align-items: center;
	justify-content: space-between;
	background-color: #F9FAFA;
	padding: 60px 40px;
	width: 100vw;
	max-height: 50%;
	
	

}

.row-2 .col-2{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
}


.row-2 .col-2 h6{
	font-size: 2vmin;
	color: #484872;
	margin-bottom: 10px;

}


.row-2 .col-2 h2{
	font-size: 3vmin;
	color: black;
	margin-bottom: 10px;

}



.row-2 .col-2 .row-2-p{
	font-size: 2vmin;
	color: black;
	font-weight: bold;

}


.row-2 .col-2-2 p{
	line-height: 1.5;
	width: 100%;
	color: #475468;


	font-size: 2.5vmin;

}




.image-2{
	width: 100%;
	height: 70vh;
	background-image: url("../images/pexels-pnw-prod-7328448.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.par-2-2{
padding: 60px 40px;
background-color: #F9FAFA;
width: 100vw;
}


.par-2-2 p{
	line-height: 1.5;
	color: #475468;
	font-size: 2.5vmin;

}


/**feature cards section**/

.feature-cards{
	width: 100%;
	height: 100%ß;
	padding: 60px 40px;
}

.feature-col-1 h1{

	font-size: 3vmin;
	color: black;
	margin-bottom: 10px;
}

.line-3{
	width: 100px;
	height: 4px;
	background: #fc036b;
	margin: 10px left;
	border-radius: 5px;
}

.feature-col-1 h6{
	margin-top: 10px;
	margin-bottom: 20px;
	font-size: 2.2vmin;
	color: ;
}



.feature-cards .image-gallery-2 {
	display: flex;
	flex-wrap: wrap;
	width: 100vw;
	align-items: center;


}

.image-gallery-2 img{
	max-width: 420px;
	max-height: 420px;
	margin-right: 40px;
	margin-bottom: 20px;


}

/** Footer section **/

footer{
	padding:60px 40px;
	background-color: #FFFDF8;
	width: 100%;
	border-top: 2px solid #F9FAFA;

}


.grouped-footer{
	display: flex;
	justify-content: space-between;
	align-items: top;
	
}

.grouped-footer h4{
	font-size: 2.5vmin;
	color: grey;
}

.grouped-footer ul{
	margin-top: 10px;
}

.grouped-footer li{
	margin: 10px auto;
	font-size: 2.2vmin;
}

.grouped-footer h3 {
	font-size: 3vmin;
	letter-spacing: 0.5px;
}

footer p{
	color: grey;
	font-size: 2.5vmin;
	margin-bottom: 10px;
	font-weight: bold;

}



/** mobile device**/
@media only screen and (max-width:850px){



.navbar{
	padding: 20px;
	background-color: white;
	justify-content: center;

}	


.nav-links{
	display: none;
}

.mobile-menu{
	margin-top: 0px;
}

.row-1{
	flex-direction: column;

}


.col-1-1 img{
	max-width: 100%;
	
}


.row-1 .col-1 {
	margin: 30px auto;
}


.row-2{
	flex-direction: column;
}

.col-2{
	margin-bottom: 20px;
}

footer{
	display: none;
}

/**animations**/

img{
	transition: transform .3s ease;
}

img:hover{
	transform: scale(1.1);
}

.ctn:hover{
	background-color: whitesmoke;
	color: #EA1A65;
	box-shadow: 2px 2px 5px #00000056;
}



}
