* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

body, html{
	font-family: "poppins";
	overflow-x: hidden;
	margin: 0;
}

.navbar{
	display: flex; 
	justify-content: space-between; 
	align-items: center; 
	padding: 20px 20px;
	width: 100%;
	background-color: #fafafc;
	position: fixed;
	z-index: 2;
}

.logo{

 display: flex;
 align-items: center;
 gap: 10px;
}

.logo-image {
	height: 40px;
	margin-right: 3px;
}

.logo-heading{
	font-size: 20px;
	margin: 0;
}

.menu-toggle {
      font-size: 24px;
      background: none;
      border: none;
      cursor: pointer;
      display: none;
}


.dropdown-menu{
	display: flex;
	gap: 20px;
}

 
.dropdown-menu ul {
      list-style: none;
      font-weight: bold;
      padding: 0;
      margin: 0;
      display: flex;
      gap: 30px;
    }

.mail-links .mail-a{
	text-decoration: none; 
	 color: black; 
	 font-weight: bold;
}


.dropdown-menu .mail-a:hover{
	color: #ea1a65;
}


.mail-links .login-button{
	text-decoration: none;
	font-weight: bold;
	padding: 10px 50px;
	background color: whitesmoke;
	color: black;
	border-radius: 30px;
	border: 1px solid grey;
}

.mail-links .reg-btn{
	text-decoration: none;
	font-weight: bold;
	background color: whitesmoke;
	padding: 10px 50px;
	color: black;
	border-radius: 30px;
	border: 1px solid grey;
}

.mail-links .login-button:hover{
	background-color: #EA1A65;
	color: white;
	
}

.mail-links .reg-btn:hover{
	background-color: #ea1a65;
	color: white;

}
/** header**/
header {
	width: 100vw;
	height: 80vh;
	background-image: url("../images/pexels-pnw-prod-7328064 1.png");
	background-position: bottom;
	background-size: cover;
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
}

.header-content{
	margin-left: 40px;
	margin-bottom: 150px;
	color: whitesmoke;
	text-align: left;
}

.header-content h2{
	font-size: 3vmin;
	margin-bottom: 5px;
}


.line{
	width: 50px;
	height: 4px;
	background: #fc036b;
	margin: 10px left;
	border-radius: 5px;
}

.header-content h1{
	font-size: 5vmin;
	margin-top: 20px;
	margin-bottom: 20px;

}

.header-content p{
	font-size: 2vmin;
	font-weight: bold;
}


/**header**/


/**section**/


.our-mission {
	width: 100vw;
	padding: 60px 40px;

}

.row-1{
	display:flex;
	align-items: center;
	width: 100%;
	justify-content: space-between;
	

}

.col-1{

	width: 100%;
	
}

.col-1-1 img{
	width: 100%;
	padding-right: 50px ;
}

.our-mission .row-1{
	margin-top: 50px;

}

.col-1 h6{
	font-size: 3vmin;
	color: #484872;
	margin-bottom: 10px;

}

.col-1 h2{
	font-size: 3vmin;
	margin-bottom: 10px;
}

.col-1 .line-2{

	width: 100px;
	height: 4px;
	background: #fc036b;
	border-radius: 5px;
	margin-bottom: 5px;
	margin-top: -5px;
}


.col-1 h4{
	font-size: 3vmin;
	color: black;
	margin-bottom: 10px;
	
}

.col-1 p{
	
	color: black;
	font-size: 2.5vmin;
	margin-bottom: 30px;

 }

.col-1 button{
	
	
	padding: 15px 60px; 
	background-color: #EA1A65; 
	color: white; 
	border-radius: 40px;
	border: 0.5px solid grey;
	

}

.col-1 button:hover{
	background-color: white;
	color: black;

}
 
/**section 2**/

.row-2{
	display:flex;
	align-items: center;
	justify-content: space-between;
	background-color: #F9FAFA;
	padding: 60px 40px;
	width: 100vw;
	max-height: 50%;
	
	

}

.row-2 .col-2{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
}


.row-2 .col-2 h6{
	font-size: 2vmin;
	color: #484872;
	margin-bottom: 10px;

}


.row-2 .col-2 h2{
	font-size: 3vmin;
	color: black;
	margin-bottom: 10px;

}



.row-2 .col-2 .row-2-p{
	font-size: 2vmin;
	color: black;
	font-weight: bold;

}


.row-2 .col-2-2 p{
	line-height: 1.5;
	width: 100%;
	color: #475468;
	font-size: 2.5vmin;

}


.image-2{
	width: 100%;
	height: 70vh;
	background-image: url("../images/pexels-pnw-prod-7328448.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.par-2-2{
padding: 60px 40px;
background-color: #F9FAFA;
width: 100vw;
}


.par-2-2 p{
	line-height: 1.5;
	color: #475468;
	font-size: 2.5vmin;

}

.feature-cards{
	width: 100%;
	height: 100%ß;
	padding: 60px 40px;
}

.feature-col-1 h1{

	font-size: 3vmin;
	color: black;
	margin-bottom: 10px;
}

.line-3{
	width: 100px;
	height: 4px;
	background: #fc036b;
	margin: 10px left;
	border-radius: 5px;
}

.feature-col-1 h6{
	margin-top: 10px;
	margin-bottom: 20px;
	font-size: 2.2vmin;
	color: ;
}



.feature-cards .image-gallery-2 {
	display: flex;
	flex-wrap: wrap;
	width: 100vw;
	align-items: center;


}

.image-gallery-2 img{
	max-width: 420px;
	max-height: 420px;
	margin-right: 40px;
	margin-bottom: 20px;


}

/** footer **/

footer{
	padding:60px 40px;
	background-color: #FFFDF8;
	width: 100%;
	border-top: 2px solid #F9FAFA;

}


.grouped-footer{
	display: flex;
	justify-content: space-between;
	align-items: top;
	
}

.grouped-footer .footes-h{
	font-size: 2.5vmin;
	color: grey;
}

.grouped-footer .footes-u{
	margin-top: 10px;
	list-style: none;
}

.footes-u a{
	text-decoration: none; 
	 color: black; 
	 font-weight: bold;
}

.footes-u a:hover{
	color: #EA1A65;
}

.grouped-footer .footes-u li{
	margin: 10px auto;
	font-size: 2.2vmin;
}


.footes-h{
	font-size: 3vmin;
	letter-spacing: 0.5px;
}

.footes-p{
	font-size: 2.5vmin;
	margin-bottom: 10px;
	font-weight: bold;
	color: grey;
}

@media only screen and (max-width:768px){

	.navbar{
	padding: 10px 20px;
	background-color: white;
	align-items: center;
	display: flex;
	justify-content: space-between;
	width: 100%;


}	

.menu-toggle {
    display: block;
    font-size: 28px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1100;

}
  
.dropdown-menu {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;  
    z-index: 1000;
    justify-content: center;

    
}


.dropdown-menu.show {
        display: flex;
       
}



ul{
  	list-style: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}  



.dropdown-menu li {
    margin: 15px 0;
    align-items: center;

}

.row-1{
	flex-direction: column;

}


.col-1-1 img{
	max-width: 100%;
	
}


.row-1 .col-1 {
	margin: 30px auto;
}


.row-2{
	flex-direction: column;
}

.col-2{
	margin-bottom: 20px;
}

footer{
	display: none;
}




}